![Beautiful landscape](https://raw.githubusercontent.com/it-web-pro/django-week3/main/images/WEEK3-ERD(e-commerce).png)

In [ ]:
import os

In [ ]:
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = "true"

In [ ]:
# import modules
from shop.models import *

### 1. annotate(), F()

1.1 ให้นักศึกษาค้นหาข้อมูล `Payment` โดยให้เพิ่ม field ราคาที่ลบกับส่วนลดแล้ว โดยกำหนดให้ชื่อ field ว่า "after_discount_price"

ตัวอย่าง Output บางส่วน

```PYTHON
# data structures เป็น List(dict)
 [
     {"payment_id": 22, "after_discount_price": 559.06},
     {"payment_id": 23, "after_discount_price": 5328.17},
     {"payment_id": 24, "after_discount_price": 4725.04},
     {"payment_id": 25, "after_discount_price": 2331.85}
 ]
```

In [ ]:
# code here

### 2. Order_by

2.1 ให้นักศึกษาเรียงข้อมูลลูกค้าใหม่โดยเรียงตามลำดับตัวอักษรมากไปน้อยจากชื่อเต็มของลูกค้า(full_name)

ตัวอย่าง Output บางส่วน 

```PYTHON
# data structures เป็น List(dict)
[
    {
        "customer_id": 15,
        "full_name": "stave klolas",
        "email": "mr.stave@gmail.com",
        "address": {
            "district": "Bang Kapi",
            "location": "23 Ramkhamhaeng Road",
            "province": "Bangkok",
            "postal_code": 10240
        }
    },
    {
        "customer_id": 23,
        "full_name": "Yanisa Thongchaiyapoom",
        "email": "yanisa.game888@gmail.com",
        "address": {
            "district": "Paknampho",
            "location": "200 Nakhon Sawan Road",
            "province": "Nakhon Sawan",
            "postal_code": 60000
        }
    }
]

```

In [ ]:
# code here

2.2 ให้นักศึกษาเรียงข้อมูลราคาสินค้าใน `Payment` ที่หักส่วนลดแล้วจากน้อยไปมาก

ตัวอย่าง Output บางส่วน

```PYTHON
# data structures เป็น List(dict) 
[
    {"payment_id": 49, "price": 290.0}
    {"payment_id": 78, "price": 400.0}
    {"payment_id": 56, "price": 439.0}
    {"payment_id": 13, "price": 470.0}
    {"payment_id": 58, "price": 539.0}
]
```

In [ ]:
# code here

### 3. aggregation - count(), sum(), AVG()

3.1 ให้นักศึกษาหาค่าเฉลี่ยของราคาสินค้าที่มีจำนวนคงเหลือมากกว่า 0

``` PYTHON
{'avg': Decimal('29308.000000000000')}
```

In [ ]:
# code here

3.2 จงหาผลรวมราคาที่อยู่ในตระกร้าสินค้าของเดือน `พฤษภาคม`

```PYTHON
{'sum': Decimal('9912555.00')}

```

In [ ]:
# code here

3.3 ให้นักศึกษานับจำนวนสินค้าที่อยู่ประเภท `Electronics`,  `Jewelry` และ ราคาของสินค้าอยู่ในช่วง 8,000.00 - 50,000.00

```PYTHON
# data structures เป็น List(dict) 
[
    {'product_category_name': 'Electronics', 'count_products': 6}
    {'product_category_name': 'Jewelry', 'count_products': 1}
]
```

In [ ]:
# code here

### 4. one-to-one

4.1 ให้นักศึกษาค้นหาข้อมูลใบสั่งซื้อที่มีมูลค่าระหว่าง 5000.00 - 15000.00 พร้อมแสดงวันที่ของใบสั่งซื้อ และใบชำระเงิน

### 5. one-to-many

5.1 ให้นักศึกษาบันทึกข้อมูลใบสั่งซื้อ และการชำระเงินของลูกค้าชื่อ `Manit Senapan` ตามรายการดังนี้

- ออกใบสั่งซื้อวันที่ 5 สิงหาคม 2567
- หมายเหตุ: `ฉันรวย อยากใช้เงินเยอะๆ`
    
    โดย Manit สั่งสิ้นค้าดั่งนี้

        - Diamond Stud Earrings จำนวน 1 ชิ้น

        - Sofa จำนวน 2 ชิ้น

        - Rose Gold Hoop Earrings จำนวน 1 ชิ้น
    
    โดยที่ Manit ได้รับส่วนลดชิ้นละ 10 % ของสินค้า พร้อมชำระเงินด้วยบัตรเคดิต และมีการระบุหมายเหตุตอนชำระเงินว่า `ลูกค้า VIP ของเรา`

    จากนั้นให้ระบบแสดงผลการสร้างใบสั่งซื้อและการชำระเงินของ Manit ให้ถูกต้อง

### 6. many-to-many

6.1 ให้นักศึกษาค้นหาข้อมูลสินค้าทั้งหมด และแสดงชื่อประเภทสินค้า

ตัวอย่าง Output บางส่วน

```PYTHON
# data structures เป็น List(dict) 
[
    {
        "prodcut_id": 1, 
        "product_name": "Smartphone", 
        "product_category": ["Information technology", "Electronics"], 
        "price": 5900.00
    }
    {
        "prodcut_id": 2, 
        "product_name": "Laptop", 
        "product_category": ["Information technology", "Electronics"], 
        "price": 25999.00
    }
    {
        "prodcut_id": 3, 
        "product_name": "Smart TV", 
        "product_category": ["Information technology", "Electronics"], 
        "price": 8900.00
    }
    {
        "prodcut_id": 4, 
        "product_name": "Bluetooth Earphones", 
        "product_category": ["Information technology", "Electronics"], 
        "price": 350.00
    }
    {
        "prodcut_id": 5, 
        "product_name": "Tablet", 
        "product_category": ["Information technology", "Electronics"], 
        "price": 12900.00
    }
]
```

In [ ]:
# code here

6.2 ให้นักศึกษาเปลี่ยนชื่อประเภทสินค้า `Books and Media` เป็น `Books and Toys` และให้ลบประเภท `Toys and Games` ออกโดยให้ใช้เป็น `Books and Toys` แทน และทดลองค้นหาสินค้าที่ประเภท `Books and Toys` ทั้งหมด

In [ ]:
# code here